foliumtest.py
workshop-remote-sensing
*.json
*.ipynb_checkpoints

NDVI/Remote Sensing Camp.html
NDVI/multi_band-800*
NDVI/geotiffs/*
NDVI/__pycache__/*
NDVI/info.txt
NDVI/Munich/
NDVI/USGS

todo.txt
*.zip
