foliumtest.py
workshop-remote-sensing
*.json
*.ipynb_checkpoints

satellite_imagery/Remote Sensing Camp.html
satellite_imagery/multi_band-800*
satellite_imagery/geotiffs/*
satellite_imagery/__pycache__/*
satellite_imagery/info.txt
satellite_imagery/shapes_and_masks/
satellite_imagery/USGS

todo.txt
*.zip
