foliumtest.py
workshop-remote-sensing
*.json
*.ipynb_checkpoints

GoogleEarthEngine/Remote Sensing Camp.html
GoogleEarthEngine/multi_band-800*
GoogleEarthEngine/geotiffs/*
GoogleEarthEngine/__pycache__/*
